Use_Label=false
Show_Values=true
Show_Bars=true
Colorize_Values=false
Color_In=rgb(255,255,255)
Color_Out=rgb(255,255,255)
Text=Net
Network_Device=enp2s0f0u4
Max_In=51200000
Max_Out=51200000
Auto_Max=false
Update_Interval=250
Values_As_Bits=false
Digits=0

